<!DOCTYPE html>
<html>
  <head>
    <title>オムそば丼スライド一覧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css"
    />
  </head>

  <body>
    <div style="padding: 2rem">
      <header>
        <nav>
          <li>
            <a href="../index.html">ホーム</a>
          </li>
          <li>
            <a href="../slides/index.html">スライド一覧</a>
          </li>
          <li>
            <a href="../guides/1_getstart/index.html">docs</a>
          </li>
        </nav>
      </header>
      <div style="margin: 2rem 0">
        {{ $allPages := .Pages }} {{ $regularPages := slice }} {{
        $presentationPages := slice }} {{ range $allPages }} {{ if
        strings.HasSuffix .Title "(中間発表資料)" }} {{ $presentationPages =
        $presentationPages | append . }} {{ else }} {{ $regularPages =
        $regularPages | append . }} {{ end }} {{ end }}

        <ul>
          <h3>最終発表資料</h3>
          {{ range $regularPages }}
          <li><a href="{{ .Permalink }}index.html">{{ .Title }}</a></li>
          {{ end }}
          <h3>以下、中間発表資料</h3>
          {{ range $presentationPages }}

          <li>
            <a href="{{ .Permalink }}index.html">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <footer>
        &copy; オムそば丼
        <a href="https://github.com/omusobadon"
          >https://github.com/omusobadon</a
        >
      </footer>
    </div>
  </body>
</html>
