<!DOCTYPE html>
<html>
  <head>
    <title>オムそば丼スライド一覧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css"
    />
  </head>
  <body>
    <div style="padding: 2rem">
      <header>
        <h1>My Slides</h1>
      </header>
      <div style="margin: 2rem 0">
        <ul>
          {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}index.html">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <footer>
        &copy; オムそば丼
        <a href="https://github.com/omusobadon">https://github.com/omusobadon</a>
      </footer>
    </div>
  </body>
</html>
