@font-face {
    font-family: ms;
    src: url("../fonts/MS-Mincho-01.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: aneki1;
    src: url("../fonts/KleeOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: aneki2;
    src: url("../fonts/ZenKurenaido-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  .font-ms {
    font-family: 'ms', sans-serif;
  }
  
  .font-aneki1 {
    font-family: 'aneki1', serif;
  }
  
  .font-aneki2 {
    font-family: 'aneki2', serif;
  }