body {
  padding-top: 50px; /* ナビゲーションバーの高さに応じて調整 */
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.ball {
  width: 80px; /* 画像の幅に合わせて調整 */
  height: 80px; /* 画像の高さに合わせて調整 */
  position: absolute;
}

.ball img {
  width: 100%;
  height: 100%;
}

/* pulldown animation */
.dropdown-toggle::after {
  display: none; /* Bootstrapのデフォルトの矢印を非表示にする */
}

.dropdown-toggle .fas {
  transition: transform 0.3s ease;
}

.dropdown.show .dropdown-toggle .fas {
  transform: rotate(180deg); /* メニューが開いたときにアイコンを180度回転 */
}
