body {
  padding-top: 50px; /* ナビゲーションバーの高さに応じて調整 */
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}


.ball {
  width: 80px; /* 画像の幅に合わせて調整 */
  height: 80px; /* 画像の高さに合わせて調整 */
  position: absolute;
}

.ball img {
  width: 100%;
  height: 100%;
}

.list-group-item .fas {
  transition: transform 0.3s ease;
}

.list-group-item[aria-expanded="true"] .fas {
  transform: rotate(180deg);
}

.navbar-brand {
  background: url("../img/オムそば丼キャラ切り抜き.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 100px;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 99;
  display: none;
  justify-content: center;
  align-items: center;
}

#contentFrame {
  display: none;
  width: 100%;
  height: 600px;
}